@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Blog</title>
    @Styles.Render("~/styles")
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.RouteUrl("Home")">ARIST</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" ><a href="@Url.RouteUrl("Home")">Home <span class="sr-only">(current)</span></a></li>
       
                
            </ul>
         
            <ul class="nav navbar-nav navbar-right">

                @if (User.Identity.IsAuthenticated)
                {
                     <li><a href="@Url.RouteUrl("Logout")">Logout</a></li>
                    if (User.IsInRole("admin"))
                    {
                         <li><a href="@Url.Action("Index", "Posts", new { area = "admin" })">Admin Paneline Git</a></li>
                    }
                    
                }
                else
                {
                       <li><a href="@Url.RouteUrl("Login")">Login</a></li>
                }
             
               
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <div> 
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome to Back :@Auth.User.Username @Auth.User.Email</p>
        }
        @RenderBody()
    </div>
    @Scripts.Render("~/scripts")
</body>
</html>
